.booklistSection {
    text-align: center;
    margin-left: 60px;
    /* do 500 margin for both */
    margin-right: 60px;
    padding: 20px 20px;
    border: 1px solid grey;
    border-radius: 50px;
}

