.formHeader {
    padding-top: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: white;
}

.findBooksSection {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.findBooksContainer {
    padding: 20px 20px;
    border: 1px solid grey;
    border-radius: 40px;
}

.btnFind {
    text-align: center;
    padding-top: 50px;
}

.btnHead {
    text-align: center;
}

.paraStyle {
    color: white;
}