.formTitle {
    margin-top: 30px;
    text-align: center;
    font-size: 40px;
    color: grey;
    font-weight: bold;
}

.formHeader {
    margin-top: 10px;
    text-align: center;
}

.bookSection {
    text-align: left;
    margin-left: 50px;
    margin-right: 50px;
}

.bookReviewContainer {
    margin-top: 200px;
    padding: 20px 20px;
    border: 1px solid grey;
    border-radius: 40px;
}

