.App {
  min-height: 10vh;
  display: grid;
  grid-template-rows: 7vmin auto;
}

.App-header {
  background-color: var(--black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vmin;
  font-size: 2.5vmin;
  color: var(--background);
}

.App main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  
}

.App main h1 {
  /* color: var(--secondary-dark); */
  margin-bottom: 5vmin;
}


.footer {
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  text-align: center;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}